<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-brand">
                <a class="logo" [routerLink]="['/melon.mp3.vn']">
                    <img src="../assets/images/van.png" width="30px" height="30px" alt="">MELON MP3
                </a>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control search"
                            placeholder="Search artists , songs, playlist ..." size="100">
                    </div>
                </form>
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a [routerLink]="['/melon.mp3.vn/login']">Login</a>
                        </li>
                        <li>
                            <a [routerLink]="['/melon.mp3.vn/accounts/update-password/1']">Update Pasword</a>
                        </li>
                        <li>
                            <a [routerLink]="['/melon.mp3.vn/accounts/update-user-information/1']">Update User</a>
                            <a [routerLink]="['/melon.mp3.vn/login']">Login Facebook</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['/melon.mp3.vn']">HOME</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/melon.mp3.vn/artist']"> ARTIST</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/melon.mp3.vn/song']">SONG</a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink]="['/melon.mp3.vn/playlist']">PLAYLIST</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="single-footer-widget mb-80">
                    <h4 class="widget-title">About Us</h4>
                    Melon Mp3 được thành lập với sứ mệnh tạo lập thị thị trường âm nhạc tôn trọng bản quyền, hỗ trợ ca
                    sĩ về mặt truyền thông và các kênh phát hành.
                    <p></p>
                    <div class="copywrite-content">
                        <p>&copy; Copyright &copy;2019 All rights reserved | This template is made with <i
                                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://melon.mp3.com"
                                target="_blank">MelonTeam</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="single-footer-widget">

                    <h4 class="widget-title">Follow Us</h4>

                    <div class="footer-social-info">
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa fa-facebook" style="width: 10px; height: 10px"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                class="fa fa-pinterest"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i
                                class="fa fa-youtube-play"></i></a>
                    </div>
                    <!-- App Download Button -->
                    <div class="app-download-button">
                        <a href="#"><img src="http://pluspng.com/img-png/download-on-app-store-png-download-1272.png"
                                width="100px" height="30px" alt=""></a>
                        <a href="#"><img
                                src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
                                width="100px" height="30px" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>