.updateUserForm {
    margin-left: 20%;
    float: left;
    width: 600px;
    padding: 60px;
    background: rgba(218, 210, 210, 0.911);
    border-radius: 10px;
}

.mat-form-field {
    width: 100%;
}
.buttonUpdate{
    margin: 5px;
    margin-left: 150px;
}
.buttonGender{
    margin: 15px;
    margin-left: 0%;
}