<app-header></app-header>
<div class="container">
<div class="content">
        <div class="artists">
            <h3>Artist {{ artist.name }} </h3>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a [routerLink]="['/melon.mp3.vn/artist',artist.id,'edit']">Edit artist {{ artist.name }}</a></li>
                    <li><a [routerLink]="['/melon.mp3.vn/song']">Add songs to the artist {{ artist.name }}</a></li>
                </ul>
            </div>
        </div>
    
        <div class="top" *ngFor="let song of list_song">
            <a [routerLink]="['/melon.mp3.vn/artist', artist.id, artist.name]">
                <img src="{{ song.avatar_song }}" alt="{{ song.name_song }}" width="80%" height="200px">
            </a>
    
            <a [routerLink]="['/melon.mp3.vn/artist', artist.id, artist.name]">
                <h4>{{ song.name_song }}</h4>
                <p>{{ song.name_artist }}</p>
            </a>
        </div>
        <div class="top-add">
            <a class="a-add" [routerLink]="['/melon.mp3.vn/song']">+</a>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>