<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Edit Song</h3>
    </div>
    <div class="panel-body">
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="name">Song Title:</label>
                <input type="text" class="form-control" [(ngModel)]="song.nameSong" name="nameSong">
            </div>
            <div class="form-group">
                <label for="artist">Description:</label>
                <input type="text" class="form-control" [(ngModel)]="song.descriptionSong" name="descriptionSong">
            </div>
            <div class="form-group">
                <label for="desc">File Mp3:</label>
                <input type="text" class="form-control" [(ngModel)]="song.fileMp3" name="fileMp3">
            </div>

            <div class="form-group">
                <label for="avatarSong">Avatar Song:</label>
                <input type="text" class="form-control" [(ngModel)]="song.avatarSong" name="avatarSong">
            </div>
            
            <div class="form-group">
                <label for="comment">Comment:</label>
                <input type="text" class="form-control" [(ngModel)]="song.comment" name="comment">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onEditSong()">Save</button>
        </form>
    </div>
</div>