.content {
    margin: 0;
    float: left;
    width: 100%;
    height: auto;
}

.song {
    margin: 0;
    float: left;
    width: 100%;
    height: auto;
}

.btn-song {
    float: right;
}

h3 {
    margin: 0;
    float: left;
    color: #5b97dbee;
    padding: 10px;
}

td {
    width: 25%;
}