<app-header></app-header>
<div class="container">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="wrapper">
                <mat-card>
                    <p style="font-size: 30px; color:rgb(26, 78, 175); text-align:center; margin-top: 10px; ">Add New
                        Song</p>
                    <mat-card-content>
                        <form [formGroup]="formSong" (ngSubmit)="onSubmitAddSong(formSong.value)">

                            <!-- name Song -->
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Name Song"
                                    formControlName="nameSong">
                            </mat-form-field>

                            <!-- description Song -->
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Description Song" formControlName="descriptionSong">

                            </mat-form-field>

                            <!-- File Mp3 -->
                            <div class="full-width">
                                <input type="file" placeholder="File Mp3" (change)="getLink($event)" formControlName="fileMp3" >
                            </div>

                            <mat-form-field class="full-width">
                                <input matInput placeholder="Avatar Song" formControlName="avatarSong">
                            </mat-form-field>


                            <!-- comment -->
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Comment" formControlName="comment">
                                <mat-hint align="end">Awesome song with catchy melody</mat-hint>
                            </mat-form-field>


                            <!-- Button -->
                            <mat-card-actions>
                                <button mat-raised-button style="border-radius: 20px" color="primary">Save</button>
                            </mat-card-actions>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>


</div>
{{ formSong.value | json }}
<br>
{{ formSong.status }}
<app-footer></app-footer> 