<footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="single-footer-widget mb-80">
                        <h4 class="widget-title">About Us</h4>
                        Melon Mp3 được thành lập với sứ mệnh tạo lập thị thị trường âm nhạc tôn trọng bản quyền, hỗ trợ ca sĩ về mặt truyền thông và các kênh phát hành.
                        <p></p>
                        <div class="copywrite-content">
                            <p>&copy; Copyright &copy;2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://melon.mp3.com" target="_blank">MelonTeam</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="single-footer-widget">
    
                        <h4 class="widget-title">Follow Us</h4>
    
                        <div class="footer-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                class="fa fa-facebook" style="width: 10px; height: 10px"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i
                class="fa fa-youtube-play"></i></a>
                        </div>
                        <!-- App Download Button -->
                        <div class="app-download-button">
                            <a href="#"><img src="http://pluspng.com/img-png/download-on-app-store-png-download-1272.png" width="100px" height="30px" alt=""></a>
                            <a href="#"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="100px" height="30px" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>