<app-header></app-header>
<div class="container text-center">
    <h3>Update PlayList</h3>
    <div class="updateplaylist">
        <form>

            <br>
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Name Playlist" [(ngModel)]="playlist.name" name="name">

            </mat-form-field>
            <br>
            <mat-form-field class="full-width">

                <textarea matInput name="avatar" placeholder="Avatar Playlist" [(ngModel)]="playlist.avatar" cols="10" rows="5"></textarea>
            </mat-form-field>
            <br>

            <button class="mt-4 update" mat-raised-button color="primary" type="submit" (click)="onUpdatePlaylist()">
                                        <i class="fas fa-sign-in-alt"></i> Update
                                    </button>
            <button class="mt-4 cancel" mat-raised-button color="primary" type="submit" [routerLink]="['/melon.mp3.vn/playlist']">
                                        <i class="fas fa-sign-in-alt"></i>Cancel
                                    </button>
        </form>
    </div>

</div>
<router-outlet></router-outlet>
<app-footer></app-footer>